<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}Timesheet - HR{% endblock %}</title>
{% block stylesheets %}
	{% stylesheets 'bundles/timesheethr/css/*' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
{% if pageRefresh is defined and pageRefresh|length and pageRefresh > 0 %}
	<meta http-equiv="refresh" content="{{ pageRefresh }}">
{% else %}
	<meta http-equiv="refresh" content="86400; {{ path('timesheet_hr_homepage') }}">
{% endif %}
</head>
<body>
<div id="popupDiv" class="popupDiv"></div>
<div id="lockscreen"></div>
{{ render(controller('TimesheetHrBundle:Default:menu')) }}
{% block header %}<h2>Timesheet</h2>{% endblock %}
<div class="message">{% spaceless %}
{% for flashMessage in app.session.flashbag.get('error') %}
    {{ flashMessage }}
{% endfor %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    {{ flashMessage }}
{% endfor %}
{% endspaceless %}</div>
{% block content %}
{% endblock %}
{% block javascripts %}
	{% javascripts '@TimesheetHrBundle/Resources/public/js/*' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
{% block additional_js %}
{% endblock %}
</body>
</html>