{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br><br><hr>
{% if message is defined and message|length %}<span class="message">Message : <b>{{ message|raw }}</b></span><br>{% endif %}
<br>
{% if data is defined and data|length %}
{% if form is defined and form|length %}{{ form_start(form) }}{% endif %}
<div class="listType">
<table>
	<tr>
		{% if form is defined and form|length %}<th> </th>{% endif %}
		<th>Currency</th>
	{% for d in dates %}
		<th>{{ d }}</th>
	{% endfor %}
	</tr>
	{% for cur,v in data %}
	<tr>
		{% if form is defined and form|length %}<th>{{ form_widget(form[cur	]) }}</th>{% endif %}
		<th><a href="{{ path('invest_share_currency', {'currency': cur}) }}">{{ cur }}</a></th>
		{% for date,d in v %}
		<td align="right">{% if d.Rate != null %}{{ d.Rate|number_format(4) }}{% else %} - {% endif %}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% if form is defined and form|length %}{{ form_widget(form.submit) }}{% endif %}
</div>
{% if form is defined and form|length %}{{ form_end(form) }}{% endif %}
{% endif %}
{% if notes is defined and notes|length %}
<hr>
<div class="notes">{{ notes|nl2br }}<div>
{% endif %}
{% endblock %}