{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br><br><hr>
{% if message is defined and message|length %}<br><span class="message">Message : <b>{{ message }}</b></span><br>{% endif %}
{% if errors is defined and errors|length %}
<ul>
	{% for error in errors %}
	<li>{{ error.message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% if deals is defined and deals|length %}
<div class="listType">
	<table border="1">
		<tr>
			<th>Decl.Date</th>
			<th>Deal.Date</th>
			<th>Type</th>
			<th>EPIC</th>
			<th>Company</th>
			<th>Director</th>
			<th>Pos</th>
			<th>No.of Shares</th>
			<th>Price</th>
			<th>Value</th>
		</tr>
	{% for d in deals %}
		<tr>
			<td align="center">{{ d.DeclDate|date('d/m/Y') }}</td>
			<td align="center">{{ d.DealDate|date('d/m/Y') }}</td>
			<td>{{ d.Type }}</td>
			<td align="center"><a href="{{ path('invest_share_prices') }}/{{ d.Code }}">{{ d.Code }}</a></td>
			<td>{{ d.Company }}</td>
			<td>{{ d.Name }}</td>
			<td>{{ d.Position }}</td>
			<td align="right">{{ d.Shares|number_format(2) }}</td>
			<td align="right">{{ d.Price|number_format(2) }}</td>
			<td align="right">{{ d.Value|number_format(2) }}</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% else %}
No new director's deal...
{% endif %}
{% if notes is defined and notes|length %}
<hr>
<div class="notes">{{ notes|nl2br }}<div>
{% endif %}
{% endblock %}