{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br><br><hr>
{% if message is defined and message|length %}<br><span class="message">Message : <b>{{ message }}</b></span><br>{% endif %}
{% if errors is defined and errors|length %}
<ul>
	{% for error in errors %}
	<li>{{ error.message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% if searchForm is defined and searchForm|length %}
{{ form_start(searchForm) }}
<table>
	<tr>
		<td>{{ form_row(searchForm.type) }}</td>
		<td>{{ form_row(searchForm.company) }}</td>
		<td>{{ form_row(searchForm.dateFrom) }}</td>
		<td>{{ form_row(searchForm.dateTo) }}</td>
		<td>{{ form_row(searchForm.filter) }}</td>
		<td>{{ form_row(searchForm.search) }}</td>
	</tr>
</table>
{{ form_end(searchForm) }}
<hr>
{% endif %}
{% if diary is defined and diary|length %}
<div class="listType">
	<table border="1">
		<tr>
			<th>Date</th>
			<th>Type</th>
			<th>EPIC</th>
			<th>Name</th>
			<th>Current Value</th>
		</tr>
	{% for d in diary %}
		<tr>
			<td align="center">{{ d.Date|date('d/m/Y') }}</td>
			<td>{{ d.Type }}</td>
			<td align="center"><a href="{{ path('invest_share_prices') }}/{{ d.Code }}">{{ d.Code }}</a></td>
			<td>{{ d.Name }}</td>
			<td align="right">{% if d.CurrentValue != 0 %}{{ d.CurrentValue|number_format(2) }}{% else %}-{% endif %}</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% else %}
No new diary event...
{% endif %}
{% if notes is defined and notes|length %}
<hr>
<div class="notes">{{ notes|nl2br }}<div>
{% endif %}
{% endblock %}