{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br><br><hr>
{% if message is defined and message|length %}<br><span class="message">Message : <b>{{ message }}</b></span><br>{% endif %}
{% if errors is defined and errors|length %}
<ul>
	{% for error in errors %}
	<li>{{ error.message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% if searchForm is defined and searchForm|length %}
{{ form_start(searchForm) }}
<table>
	<tr>
		<td>{{ form_row(searchForm.type) }}</td>
		<td>{{ form_row(searchForm.company) }}</td>
		<td>{{ form_row(searchForm.position) }}</td>
		<td>{{ form_row(searchForm.dateFrom) }}</td>
		<td>{{ form_row(searchForm.dateTo) }}</td>
		<td>{{ form_row(searchForm.limit) }}</td>
		<td>{{ form_row(searchForm.filter) }}</td>
		<td>{{ form_row(searchForm.search) }}</td>
	</tr>
</table>
{{ form_end(searchForm) }}
<hr>
{% endif %}
{% if deals is defined and deals|length %}
<div class="listType">
	<table>
		<tr>
			<th>Decl.Date</th>
			<th>Deal.Date</th>
			<th>Type</th>
			<th>EPIC</th>
			<th>Company</th>
			<th>Director</th>
			<th>Pos</th>
			<th>No.of Shares</th>
			<th>Price</th>
			<th>Value</th>
			{% if extra is defined and extra == true %}
			<th></th>
			<th>Current Shares</th>
			<th>Current Value (p)</th>
			{% endif %}
		</tr>
	{% for d in deals %}
		<tr>
			<td align="center">{{ d.DeclDate|date('d/m/Y') }}</td>
			<td align="center">{{ d.DealDate|date('d/m/Y') }}</td>
			<td>{{ d.Type }}</td>
			<td align="center"><a href="{{ path('invest_share_prices') }}/{{ d.Code }}">{{ d.Code }}</a></td>
			<td>{{ d.Company }}</td>
			<td>{{ d.Name }}</td>
			<td align="center">{{ d.Position }}</td>
			<td align="right">{{ d.Shares|number_format(2) }}</td>
			<td align="right">{{ d.Price|number_format(2) }}</td>
			<td align="right">{{ d.Value|number_format(2) }}</td>
			{% if extra is defined and extra == true %}
			<td></td>
			<td align="right">{{ d.CurrentShares|number_format(2) }}</td>
			<td align="right">{{ d.CurrentValue|number_format(2) }}</td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>
	<hr>
	<table>
		<tr>
			<th>Type</th>
			<th>No.of Shares</th>
			<th>Value</th>
		</tr>
		{% for k,v in summary %}
		<tr>
			<td align="center"><b>{{ k }}</b></td>
			<td align="right"><b>{{ v.Shares|number_format(2) }}</b></td>
			<td align="right"><b>{{ v.Value|number_format(2) }}</b></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% else %}
No new director's deal...
{% endif %}
<hr>
<b>Transaction types:</b><br>
BUY - Buy | SELL - Sell | EXR - Exercise | SEXR - Sale Post-Exercise | DRI - Dividend Reinvestment | DRIP - Dividend Reinvestment Plan | AWD - Award | TIN - Transfer In | TOUT - Transfer Out | LOF - In Lieu of Fees/Salary | SI - Script Issue | PLAC - Placing | RIS - Rights Issue
<br><br>
<b>Director positions:</b><br>
CEO - Chief Executive Officer | CH - Chairman | MD - Managing Director | FD - Financial Director | NED - Non Executive Director | ED - Executive Director | RES - Resigned | D - Director / Unknown
<br>
{% if notes is defined and notes|length %}
<hr>
<div class="notes">{{ notes|nl2br }}<div>
{% endif %}
{% endblock %}