{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br><br><hr>
{% if message is defined and message|length %}<br><span class="message">Message : <b>{{ message }}</b></span><br>{% endif %}
{% if errors is defined and errors|length %}
<ul>
	{% for error in errors %}
	<li>{{ error.message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% if searchForm is defined and searchForm|length %}
{{ form_start(searchForm) }}
{{ form_errors(searchForm) }}
<table>
	<tr>
		<td>
			<table>
				<tr>
					<td>{{ form_widget(searchForm.exDivDateSearch) }}</td>
					<td>{{ form_row(searchForm.exDivDateFrom) }}</td>
					<td>{{ form_row(searchForm.exDivDateTo) }}</td>
					<td> </td>
					<td>{{ form_widget(searchForm.paymentDateSearch) }}</td>
					<td>{{ form_row(searchForm.paymentDateFrom) }}</td>
					<td>{{ form_row(searchForm.paymentDateTo) }}</td>
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td>{{ form_row(searchForm.sector) }}</td>
					<td>{{ form_row(searchForm.portfolio) }}</td>
					<td>{{ form_row(searchForm.income) }}</td>
					<td>{{ form_row(searchForm.orderby) }}</td>
					<td>{{ form_row(searchForm.search) }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{{ form_end(searchForm) }}
<hr>
{% endif %}
{% if dividends is defined and dividends|length %}
<span style="border: #808080 solid 1px"><span style="background-color: #eeee88">&nbsp;&nbsp;</span><span style="background-color: #ffff88">&nbsp;&nbsp;</span></span> Predicted Values |
<span style="border: #808080 solid 1px"><span style="background-color: #e0e0e0">&nbsp;&nbsp;</span><span style="background-color: #f8f8f8">&nbsp;&nbsp;</span></span> Calculated Values<br><br>
<div class="listType">
	<table border="1">
		<tr>
			<th>EPIC</th>
			<th>Name</th>
			<th>Total Shares</th>
			<th>Dividend</th>
			<th>ExDividend Date</th>
			<th>Payment Date</th>
			<th>Share Price (p)</th>
			<th>Current Yield (%)</th>
			<th title="Average">Purchase Price (p)</th>
			<th>Yield (%)</th>
			<th>Income (£)</th>
			<th>Predicted Income (£)</th>
			<th>Sector</th>
		</tr>
	{% set incomeGBP = 0 %}
	{% set incomeCurrency = 0 %}
	{% set incomeEUR = 0 %}
	{% set incomeUSD = 0 %}
	{% set predictedGBP = 0 %}
	{% set predictedEUR = 0 %}
	{% set predictedUSD = 0 %}
	{% for dkey,d in dividends %}
		{% if d.Currency == 'GBP' %}
			{% set currency='' %}
			{% set incomeGBP = incomeGBP + d.Income %}
			{% set predictedGBP = predictedGBP + d.PredictedIncome %}
		{% endif %}
		{% if d.Currency == 'USD' %}
			{% set currency='$ ' %}
			{% set incomeUSD = incomeUSD + d.Income %}
			{% if d.PaymentRate is defined and d.PaymentRate != 0 %}
				{% set incomeCurrency=incomeCurrency+d.Income/d.PaymentRate %}
			{% else %}
				{% set incomeCurrency=incomeCurrency+d.Income/currencyRates.USD %}
			{% endif %}
			{% set predictedUSD = predictedUSD + d.PredictedIncome %}
		{% endif %}
		{% if d.Currency == 'EUR' %}
			{% set currency='€ ' %}
			{% set incomeEUR = incomeEUR + d.Income %}
			{% if d.PaymentRate is defined and d.PaymentRate != 0 %}
				{% set incomeCurrency=incomeCurrency+d.Income/d.PaymentRate %}
			{% else %}
				{% set incomeCurrency=incomeCurrency+d.Income/currencyRates.EUR %}
			{% endif %}
			{% set predictedEUR = predictedEUR + d.PredictedIncome %}
		{% endif %}
		<tr{% if d.PredictedIncome > 0 %} style="background-color: {{ cycle(['#eeee88', '#ffff88'], dkey) }}"{% endif %}>
			<td align="center"><a href="{{ path('invest_share_prices') }}/{{ d.Code }}">{{ d.Code }}</a></td>
			<td>{{ d.Name }}</td>
			<td>
				{% if d.PredictedExDivDates is defined and d.PredictedExDivDates|length %}
					{% for pedd in d.PredictedExDivDates %}
						Date: {{ pedd.Date|date('d/m/Y') }}, Amount: {{ pedd.Amount|number_format(2) }}<br>
					{% endfor %}
				{% endif %}
				{% if d.Details is defined and d.Details|length %}
				{% set totalShares = 0 %}
				<span name="showhide" column="details_{{ dkey }}" style="cursor: pointer; font-weight: bold;">Show</span> details
				<div class="details_{{ dkey }}" style="display: none; background-color: #ffffff; border: #888888 solid 1px; padding: 3px; width: 60%; z-index: 1000; position: absolute;">
				<div class="innerType">
				<table>
					<tr>
						<th>Portfolio</th>
						<th>Reference</th>
						<th>Trade Date</th>
						<th>Quantity</th>
						<th>Unit Price</th>
						<th>-</th>
						<th>Reference</th>
						<th>Trade Date</th>
						<th>Quantity</th>
						<th>Unit Price</th>
					</tr>
					{% for r in d.Details %}
						{% set totalShares = totalShares + r.quantity1 %}
					<tr>
						<td><a href="{{ path('invest_share_trade', {'action': 'list', 'id': r.portfolioId}) }}">{{ r.portfolioName }}</a></td>
						<td>{{ r.reference1 }}</td>
						<td align="center">{{ r.tradeDate1|date('d/m/Y') }}</td>
						<td align="right">{{ r.quantity1|number_format(2) }}</td>
						<td align="right">{{ r.unitPrice1|number_format(2) }}</td>
						<td align="center">-</td>
						{% if r.reference2 == '' %}
						<td align="center">-</td>
						<td align="center">-</td>
						<td align="center">-</td>
						<td align="center">-</td>
						{% else %}
						<td>{{ r.reference2 }}</td>
						<td align="center">{{ r.tradeDate2|date('d/m/Y') }}</td>
						<td align="right">{{ r.quantity2|number_format(2) }}</td>
						<td align="right">{{ r.unitPrice2|number_format(2) }}</td>
						{% endif %}
					</tr>
					{% endfor %}
				</table>
				</div>
				</div><br>
				{% endif %}
				{% if d.PredictedQuantity is defined and d.PredictedQuantity != 0 %}
				<div style="width: 100%; text-align: right" title="Predicted">{{ d.PredictedQuantity|number_format(2) }}</div>
				{% else %}
				<div style="width: 100%; text-align: right">{{ totalShares|number_format(2) }}</div>
				{% endif %}
			</td>
			<td align="right">{{ currency }}{{ d.Dividend|number_format(3) }}</td>
			<td align="center">{{ d.ExDivDate|date('d/m/Y') }}</td>
			<td align="center"{% if d.TaxYear is defined %} title="Tax Year : {{ d.TaxYear }}"{% endif %}>{{ d.PaymentDate|date('d/m/Y') }}</td>
			<td align="right">{{ d.SharePrice|number_format(2) }}</td>
			<td align="right">{{ d.CurrentYield|number_format(2) }} %</td>
			<td align="right">{{ d.PurchasePrice|number_format(2) }}</td>
			<td align="right"{% if d.TotalDividend is defined and d.TotalDividend|length %} title="Total Dividends / Tax Year:{{ "\n" }}{% for kdtd,dtd in d.TotalDividend %}{{ kdtd }} : {{ dtd|number_format(2) }}p{{ "\n" }}{% endfor %}"{% endif %}>{{ d.Yield|number_format(2) }} %</td>
			<td align="right"
				{% if d.PaymentRate is defined and d.PaymentRate != 0 %}
				 title="Specified Exchange Rate:{{ d.PaymentRate|number_format(3) }}"
				{% endif %}
				>
				{% if d.Income != 0 %}
					{{ currency }}{{ d.Income|number_format(2) }}
					{% if d.PaymentRate is defined and d.PaymentRate != 0 %}
						<br><i>(£&nbsp;{{ (d.Income/d.PaymentRate)|number_format(2) }})</i>
					{% else %}
						{% if d.Currency == 'EUR' %}
						<br><i>(£&nbsp;{{ (d.Income/currencyRates.EUR)|number_format(2) }})</i>
						{% endif %}
						{% if d.Currency == 'USD' %}
						<br><i>(£&nbsp;{{ (d.Income/currencyRates.USD)|number_format(2) }})</i>
						{% endif %}
					{% endif %}
				{% endif %}
			</td>
			<td align="right"{% if d.PredictedQuantity is defined and d.PredictedQuantity|length %} title="Currently Hold : {{ d.PredictedQuantity|number_format(2) }}"{% endif %}>{% if d.PredictedIncome != 0 %}{{ currency }}{{ d.PredictedIncome|number_format(2) }}{% endif %}</td>
			<td>{{ d.Sector }}</td>
		</tr>
	{% endfor %}
		<tr>
			<th>Total</th>
			<th> </th>
			<th> </th>
			<th> </th>
			<th> </th>
			<th> </th>
			<th> </th>
			<th> </th>
			<th> </th>
			<th> </th>
			<th align="right">
				<span>{% if incomeGBP != 0 %}£&nbsp;{{ incomeGBP|number_format(2) }}<br>{% endif %}</span>
				<span title="Current Rate : {{ currencyRates.EUR }}">{% if incomeEUR != 0 %}€&nbsp;{{ incomeEUR|number_format(2) }}<br>{% endif %}</span>
				<span title="Current Rate : {{ currencyRates.USD }}">{% if incomeUSD != 0 %}$&nbsp;{{ incomeUSD|number_format(2) }}<br>{% endif %}</span>
				{% if incomeEUR != 0 or incomeUSD != 0 %}
				<hr>
				<span><b>£&nbsp;{{ (incomeGBP+incomeCurrency)|number_format(2) }}</b></span>
				{% endif %}
			</th>
			<th align="right">
				<span>{% if predictedGBP != 0 %}£&nbsp;{{ predictedGBP|number_format(2) }}<br>{% endif %}</span>
				<span title="Rate : {{ currencyRates.EUR }}, Value : {{ (predictedEUR/currencyRates.EUR)|number_format(2) }}">{% if predictedEUR != 0 %}€&nbsp;{{ predictedEUR|number_format(2) }}<br>{% endif %}</span>
				<span title="Rate : {{ currencyRates.USD }}, Value : {{ (predictedUSD/currencyRates.USD)|number_format(2) }}">{% if predictedUSD != 0 %}$&nbsp;{{ predictedUSD|number_format(2) }}<br>{% endif %}</span>
				{% if predictedEUR != 0 or predictedUSD != 0 %}
				<hr>
				<span><b>£&nbsp;{{ (predictedGBP+predictedEUR/currencyRates.EUR+predictedUSD/currencyRates.USD)|number_format(2) }}</b></span>
				{% endif %}
			</th>
			<th> </th>
		</tr>
	</table>
</div>
{% endif %}
{% if notes is defined and notes|length %}
<hr>
<div class="notes">{{ notes|nl2br }}<div>
{% endif %}
{% endblock %}