{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br><br><hr>
{% if message is defined and message|length %}<br><span class="message">Message : <b>{{ message|raw }}</b></span><br>{% endif %}
{% if summary is defined and summary|length and portfolios is defined and portfolios|length %}
<h2>Summary</h2>
<div class="listType">
<div class="fixedhead">
<table>
		<tr>
			<th class="headcol">Portfolio Name</th>
			<th>Current dividend stream based on holding (£)</th>
			<th>Investment (£)</th>
			<th>Current Value (£)</th>
			<th>Profit/loss on current valuation (£) - Profit / loss on sold shares (exc Costs)</th>
			<th>Dividend Paid</th>
			<th>Total profit on  inc current valuation, realised profit and divs paid (£)</th>
			<th>Dividend Yeild based on current stock holding (%)</th>
			<th>Current ROI (%)</th>
			<th>Cash in (£)</th>
			<th>Unused Cash (£)</th>
			<th>Actual dividend Income paid to date (£)</th>
			<th>CGT profits realised (£)</th>
			<th>Unused CGT allowance (£)</th>
			<th>Unused basic rate band (£)</th>
		</tr>
	{% set o1=0 %}{% set o2=0 %}{% set o3=0 %}{% set o4=0 %}{% set o5=0 %}
	{% set o6=0 %}{% set o7=0 %}{% set o8=0 %}{% set o9=0 %}{% set o10=0 %}
	{% set o11=0 %}{% set o12=0 %}{% set o13=0 %}{% set o14=0 %}
	{% for s in summary %}
		{% set o1=o1+s.CurrentDividend %}
		{% set o2=o2+s.Investment %}
		{% set o3=o3+s.CurrentValue %}
		{% set o4=o4+s.Profit %}
		{% set o5=o5+s.RealisedProfit %}
		{% set o6=o6+s.UnusedCgtAllowance %}
		{% set o7=o7+s.UnusedBasicRateBand %}
		{% set o14=o14+s.DividendPaid %}
		<tr>
			<td class="headcol"><a href="{{ path('invest_share_portfolio', {'action': 'list', 'id': s.portfolioId}) }}">{{ portfolios[s.portfolioId] }}</a></td>
			<td align="right">{{ s.CurrentDividend|number_format(2) }}</td>
			<td align="right">{{ s.Investment|number_format(2) }}</td>
			<td align="right">{{ s.CurrentValue|number_format(2) }}</td>
			<td align="right">{{ s.Profit|number_format(2) }}</td>
			<td align="right">{{ s.DividendPaid|number_format(2) }}</td>
			<td align="right" class="lightgreenbg">{{ s.RealisedProfit|number_format(2) }}</td>
			<td align="right">{{ (s.DividendYield*100)|number_format(2) }} %</td>
			<td align="right" class="lightgreenbg">{{ (s.CurrentROI*100)|number_format(2) }} %</td>
			<td align="right">{{ s.CashIn|number_format(2) }}</td>
			<td align="right">{{ s.UnusedCash|number_format(2) }}</td>
			<td align="right" class="taxcentrebg">{{ s.ActualDividendIncome|number_format(2) }}</td>
			<td align="right" class="taxcentrebg">{{ s.CgtProfitsRealised|number_format(2) }}</td>
			<td align="right" class="taxcentrebg" title="family size : {{ s.Family }}">{{ s.UnusedCgtAllowance|number_format(2) }}</td>
			<td align="right" class="taxcentrebg" title="family size : {{ s.Family }}">{{ s.UnusedBasicRateBand|number_format(2) }}</td>
		</tr>
	{% endfor %}	
		<tr>
			<td class="headcol"><b>Overall</b></td>
			<td align="right"><b>{{ overall.CurrentDividend|number_format(2) }}</b></td>
			<td align="right"><b>{{ overall.Investment|number_format(2) }}</b></td>
			<td align="right"><b>{{ overall.CurrentValue|number_format(2) }}</b></td>
			<td align="right"><b>{{ overall.Profit|number_format(2) }}</b></td>
			<td align="right"><b>{{ overall.DividendPaid|number_format(2) }}</b></td>
			<td align="right"><b>{{ overall.RealisedProfit|number_format(2) }}</b></td>
			<td align="right"><b>{{ (overall.DividendYield*100)|number_format(2) }} %</b></td>
			<td align="right"><b>{{ (overall.CurrentROI*100)|number_format(2) }} %</b></td>
			<td align="right"><b>{{ overall.CashIn|number_format(2) }}</b></td>
			<td align="right"><b>{{ overall.UnusedCash|number_format(2) }}</b></td>
			<td align="right"><b>{{ overall.ActualDividendIncome|number_format(2) }}</b></td>
			<td align="right"><b>{{ overall.CgtProfitsRealised|number_format(2) }}</b></td>
			<td align="right"><b>{{ o6|number_format(2) }}</b></td>
			<td align="right"><b>{{ o7|number_format(2) }}</b></td>
		</tr>
</table>
</div>
</div>
{% if graphs is defined and graphs|length %}
<br>
	Charts :
	{% for k,v in graphs %}
		{% for k1,v1 in v %}
	<input type="button" column="chart{{ k }}" name="showhide" value="{{ k1 }}">
		{% endfor %}
	{% endfor %}
	{% set i = 0 %}
	{% for k,v in graphs %}
	<div class="chart{{ k }}" style="display: none"></div>
	{% set i=i+1 %}
	{% if i > 1 %}
		{% set i=0 %}
	{% endif %}
	{% endfor %}
{% endif %}
{% else %}
<br><h2>No data</h2>
{% endif %}
{% if notes is defined and notes|length %}
<hr>
<div class="notes">{{ notes|nl2br }}<div>
{% endif %}
{% endblock %}
{% block additional_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
$(document).ready(function(){
	{% for k,v in graphs %}
		{% for k1,v1 in v %}
	$('.chart{{ k }}').highcharts({
		title: {
			text: 'Current value for portfolio : {{ k1 }}'
		},
		tooltip: {
	        pointFormat: '{series.name}: <b>£ {point.y:.2f}</b>'
	    },
		chart: {
			width: 800,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
   		},
            	
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: '{{ k1 }}',
            data: [
                   {% for v2 in v1 %}
					['{{ v2.name|raw }}', {{ v2.value }}],
                   {% endfor %}
            ]
        }]
	});
		{% endfor %}
	{% endfor %}
});
</script>
{% endblock %}