{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br><br><hr>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <span class="message">Message : <b>{{ flashMessage }}</b></span>
{% endfor %}
{% if message is defined and message|length %}
<span class="message">Message : <b>{{ message }}</b></span>
{% endif %}
<table>
	<tr>
{% if selectForm is defined and selectForm|length %}
		<td>
{{ form_start(selectForm) }}
<table>
	<tr>
		<td>{{ form_row(selectForm.company) }}</td>
		<td>{{ form_row(selectForm.search) }}</td>
	</tr>
</table>
{{ form_end(selectForm) }}
		</td>
{% endif %}
	</tr>
</table>
<div id="container" style="height: 600px; width: 800px"></div>
<br>
{% endblock %}
{% block additional_js %}
<script>
var urlBase='{{ path('ajax_share_prices') }}/{{ company }}';
var url=urlBase;

function afterSetExtremes(e) {

    var chart = $('#container').highcharts();

    chart.showLoading('Loading data from server...');
    $.getJSON(window.url+'/' + Math.round(e.min) +
            '/' + Math.round(e.max), function (data) {

            chart.addSeries(data);
            chart.hideLoading();
        });
}
function pricesDraw() {
	$.getJSON(window.url, function (data) {
		$('#loadingAnim').hide();
		$('#container').highcharts('StockChart', {
	       chart: {
	            animation: true
	        },
			title: {
				text: 'Stock Prices'
			},
			chart: {
				width: 900	
			},
			navigator : {
				enabled: false,
				adaptToUpdatedData: false,
				series : {
					data : data
				}
			},
			scrollbar: {
				enabled: false,
				liveRedraw: false
			},
			type: 'waterfall',
			rangeSelector: {
				selected: 1
			},
			legend: {
				enabled: true,
				align: 'center',
				verticalAlign: 'bottom'
			},
			xAxis : {
				events : {
					afterSetExtremes : afterSetExtremes
				},
				min: 1411027700000,
				startOnTick: true,
				maxZoom: 3600 * 1000,
				minRange: 3600 * 1000 // one hour
			},
            rangeSelector : {
                buttons: [{
                    type: 'hour',
                    count: 1,
                    text: '1h'
                }, {
                    type: 'day',
                    count: 1,
                    text: '1d'
                }, {
                    type: 'month',
                    count: 1,
                    text: '1m'
                }, {
                    type: 'month',
                    count: 3,
                    text: '3m'
                }, {
                    type: 'month',
                    count: 6,
                    text: '6m'
				}, {
                    type: 'year',
                    count: 1,
                    text: '1y'
                }, {
                    type: 'all',
                    text: 'All'
                }],
				inputEnabled: true,
				selected : 2 // 1 month
			},	
	        series: data,
		});
	});
}

$(document).ready(function(){
	$('#loadingAnim').show();
	window.url=urlBase;
	pricesDraw();
	
	$('#form_range').change(function() {
		$('#loadingAnim').show();
		window.url=urlBase;
		pricesDraw();
	});
});
</script>
{% if notes is defined and notes|length %}
<hr>
<div class="notes">{{ notes|nl2br }}<div>
{% endif %}
{% endblock %}