{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br><br>
{% if message is defined and message|length %}
<br>
<span class="message">Message : <b>{{ message }}</b></span>
<br>
{% endif %}
{% if errors is defined and errors|length %}
<ul>
	{% for error in errors %}
	<li>{{ error.message }}</li>
	{% endfor %}
</ul>
{% endif %}
<h2>{{ title }}</h2>
<p>
{% if uploadForm is defined and uploadForm|length %}
{{ form_start(uploadForm) }}
<table>
	<tr>
		<td colspan="2">{{ form_errors(uploadForm) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(uploadForm.file) }}</td><td>{{ form_widget(uploadForm.file) }}{{ form_errors(uploadForm.file) }}</td>
	</tr>
	<tr>
		<td></td><td>{{ form_widget(uploadForm.upload) }}</td>
	</tr>
</table>
{{ form_end(uploadForm) }}
{% endif %}
{% endblock %}