{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br><br><hr>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <span class="message">Message : <b>{{ flashMessage }}</b></span>
{% endfor %}
{% if message is defined and message|length %}
<span class="message">Message : <b>{{ message }}</b></span>
{% endif %}
{% if errors is defined and errors|length %}
<ul>
	{% for error in errors %}
	<li>{{ error.message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% if (form is defined and form|length) or (form2 is defined and form2|length) %}
	{% if formTitle is defined and formTitle|length %}
<h2>{{ formTitle }}</h2>
	{% endif %}
{% endif %}
<p>
{% if showForm == 1 %}
{{ form_start(form) }}
{{ form_widget(form.id) }}
<table>
	<tr>
		<td colspan="2">{{ form_errors(form) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.portfolioid) }}</td><td>{{ form_widget(form.portfolioid) }}{{ form_errors(form.portfolioid) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.companyId) }}</td><td>{{ form_widget(form.companyId) }}{{ form_errors(form.companyId) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.pe_ratio) }}</td><td>{{ form_widget(form.pe_ratio) }}{{ form_errors(form.pe_ratio) }}</td>
	</tr>
	<tr>
		<td></td><td>{{ form_widget(form.save) }}</td>
	</tr>
</table>
{{ form_end(form) }}
<hr>
{% endif %}
{% if showForm == 2 %}
{{ form_start(form) }}
{{ form_widget(form.id) }}
<table>
	<tr>
		<td colspan="2">{{ form_errors(form) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.portfolioId) }}</td><td>{{ form_widget(form.portfolioId) }}{{ form_errors(form.portfolioId) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.companyId) }}</td><td>{{ form_widget(form.companyId) }}{{ form_errors(form.companyId) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.type) }}</td><td>{{ form_widget(form.type) }}{{ form_errors(form.type) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.settleDate) }}</td><td>{{ form_widget(form.settleDate) }}{{ form_errors(form.settleDate) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.tradeDate) }}</td><td>{{ form_widget(form.tradeDate) }}{{ form_errors(form.tradeDate) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.reference) }}</td><td>{{ form_widget(form.reference) }}{{ form_errors(form.reference) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.description) }}</td><td>{{ form_widget(form.description) }}{{ form_errors(form.description) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.quantity) }}</td><td>{{ form_widget(form.quantity) }}{{ form_errors(form.quantity) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.unitPrice) }}</td><td>{{ form_widget(form.unitPrice) }}{{ form_errors(form.unitPrice) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.cost) }}</td><td>{{ form_widget(form.cost) }}{{ form_errors(form.cost) }}</td>
	</tr>
	<tr>
		<td></td><td>{{ form_widget(form.save) }}</td>
	</tr>
</table>
{{ form_end(form) }}
<hr>
{% endif %}
{% if showForm == 3 %}
{{ form_start(form) }}
{{ form_widget(form.id) }}
{{ form_widget(form.tradeId) }}
<table>
	<tr>
		<td colspan="2">{{ form_errors(form) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.portfolioName) }}</td><td>{{ form_widget(form.portfolioName) }}{{ form_errors(form.portfolioName) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.companyName) }}</td><td>{{ form_widget(form.companyName) }}{{ form_errors(form.companyName) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.type) }}</td><td>{{ form_widget(form.type) }}{{ form_errors(form.type) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.settleDate) }}</td><td>{{ form_widget(form.settleDate) }}{{ form_errors(form.settleDate) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.tradeDate) }}</td><td>{{ form_widget(form.tradeDate) }}{{ form_errors(form.tradeDate) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.reference) }}</td><td>{{ form_widget(form.reference) }}{{ form_errors(form.reference) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.description) }}</td><td>{{ form_widget(form.description) }}{{ form_errors(form.description) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.quantity) }}</td><td>{{ form_widget(form.quantity) }}{{ form_errors(form.quantity) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.unitPrice) }}</td><td>{{ form_widget(form.unitPrice) }}{{ form_errors(form.unitPrice) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.cost) }}</td><td>{{ form_widget(form.cost) }}{{ form_errors(form.cost) }}</td>
	</tr>
	<tr>
		<td></td><td>{{ form_widget(form.save) }}</td>
	</tr>
</table>
{{ form_end(form) }}
<hr>
{% endif %}
</p>
<br><a href="{{ path('invest_share_trade', {action: 'addbuy', id: '', additional: ''}) }}">Add new trade</a> 
{% if trades is defined %}
<hr>
{% if showForm == 0 %}
{{ form_start(searchForm) }}
<table>
	<tr>
		<td>{{ form_row(searchForm.portfolio) }}</td>
		<td>{{ form_row(searchForm.sector) }}</td>
		<td>{{ form_row(searchForm.company) }}</td>
		<td>{{ form_row(searchForm.sold) }}</td>
		<td>{{ form_row(searchForm.search) }}</td>
	</tr>
</table>
{{ form_end(searchForm) }}
<hr>
{% endif %}
{% if trades is defined and trades|length %}
<h2>Trades</h2>
<div class="listType">
<table border="1">
	<thead>
		<tr>
			<th>Portfolio</th>
			<th>EPIC</th>
			<th>Company</th>
			<th>Trade Date</th>
			<th>Reference</th>
			<th>Quantity</th>
			<th>Unit Price (p)</th>
			<th>Total Price (£)</th>
			<th>Cost (£)</th>
			<th>Trade Date</th>
			<th>Reference</th>
			<th>Quantity</th>
			<th>Unit Price (p)</th>
			<th>Total Price (£)</th>
			<th>Cost (£)</th>
			<th>Profit / Loss (£)</th>
			<th>No of days invested</th>
			<th>ROI (%)</th>
			<th>Dividend</th>
			<th>Total Dividend Payments (p)</th>
			<th>Yield (%)</th>
			<th>Total Income (£)</th>
			<th>P/E Ratio</th>
			<th>Current Stock (p)</th>
			<th>Changes (p)</th>
			<th>Changes (%)</th>
			<th> - </th>
		</tr>
	</thead>
	<tbody>
	{% set summaryBuyPrice=0 %}
	{% set summaryBuyCost=0 %}
	{% set summarySellPrice=0 %}
	{% set summarySellCost=0 %}
	{% set summaryDividends=0 %}
	{% set summaryDividendsPaidGBP=0 %}
	{% set summaryDividendsPaidEUR=0 %}
	{% set summaryDividendsPaidUSD=0 %}
	{% set summaryProfit=0 %}
	{% set summaryIncomeGBP=0 %}
	{% set summaryIncomeEUR=0 %}
	{% set summaryIncomeUSD=0 %}
	{% set summaryIncomeCurrency=0 %}
	{% set summaryCurrentUnsoldValue=0 %}
	{% set summaryUnsoldValue=0 %}
	
	{% for c in trades %}
		{% if c.Currency == 'GBP' %}
			{% set currency='' %}
		{% endif %}
		{% if c.Currency == 'USD' %}
			{% set currency='$ ' %}
		{% endif %}
		{% if c.Currency == 'EUR' %}
			{% set currency='€ ' %}
		{% endif %}
	
		{% set buyTotal=c.quantity1*c.unitPrice1/100+c.cost1 %}
		{% set sellTotal=c.quantity2*c.unitPrice2/100-c.cost2 %}
		{% if c.noOfDaysInvested == 0 %}
			{% set profit=0 %}
		{% else %}
			{% set profit=sellTotal-buyTotal %}
		{% endif %}

		{% set summaryBuyPrice=summaryBuyPrice+buyTotal %}
		{% set summaryBuyCost=summaryBuyCost+c.cost1 %}
		{% set summarySellPrice=summarySellPrice+sellTotal %}
		{% set summarySellCost=summarySellCost+c.cost2 %}
		{% set summaryProfit=summaryProfit+profit %}
		{% set totalIncomeGBP=0 %}
		{% set totalIncomeEUR=0 %}
		{% set totalIncomeUSD=0 %}
		{% set totalIncomeCurrency=0 %}
		{% set totalDividends=0 %}
		{% set totalDividendsPaidGBP=0 %}
		{% set totalDividendsPaidEUR=0 %}
		{% set totalDividendsPaidUSD=0 %}

		{% if dividends[c.companyId] is defined and dividends[c.companyId]|length %}
			{% for d in dividends[c.companyId] %}
				{% if d.exDivDate|date('Y-m-d') <= "now"|date('Y-m-d') and d.exDivDate|date('Y-m-d') > c.tradeDate1|date('Y-m-d') and (c.tradeDate2 == null or d.exDivDate|date('Y-m-d') < c.tradeDate2|date('Y-m-d')) %}
					{% set totalDividends=totalDividends+d.amount %}
					{% if c.Currency == 'EUR' %}
						{% if d.PaymentRate is defined and d.PaymentRate != 0 %}
							{% set totalIncomeCurrency=totalIncomeCurrency+(c.quantity1*d.amount)/d.PaymentRate %}
						{% else %}
							{% set totalIncomeCurrency=totalIncomeCurrency+(c.quantity1*d.amount)/currencyRates.EUR %}
						{% endif %}
					{% endif %}
					{% if c.Currency == 'USD' %}
						{% if d.PaymentRate is defined and d.PaymentRate != 0 %}
							{% set totalIncomeCurrency=totalIncomeCurrency+(c.quantity1*d.amount)/d.PaymentRate %}
						{% else %}
							{% set totalIncomeCurrency=totalIncomeCurrency+(c.quantity1*d.amount)/currencyRates.USD %}
						{% endif %}
					{% endif %}
					{% if d.paymentDate|date('Y-m-d') <= "now"|date('Y-m-d') %}
						{% if c.Currency == 'GBP' %}
							{% set totalDividendsPaidGBP=totalDividendsPaidGBP+d.amount %}
						{% endif %}
						{% if c.Currency == 'EUR' %}
							{% set totalDividendsPaidEUR=totalDividendsPaidEUR+d.amount %}
						{% endif %}
						{% if c.Currency == 'USD' %}
							{% set totalDividendsPaidUSD=totalDividendsPaidUSD+d.amount %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
		{% set divs = 0 %}
		{% if c.Currency == 'GBP' %}
			{% set divs = totalDividends*c.quantity1/100 %}
			{% set totalIncomeGBP=divs %}
		{% endif %}
		{% if c.Currency == 'EUR' %}
			{% set divs = totalDividends*c.quantity1 %}
			{% set totalIncomeEUR=divs %}
		{% endif %}
		{% if c.Currency == 'USD' %}
			{% set divs = totalDividends*c.quantity1 %}
			{% set totalIncomeUSD=divs %}
		{% endif %}
		
		{% set summaryDividends=summaryDividends+divs %}
		{% set summaryDividendsPaidGBP=summaryDividendsPaidGBP+totalDividendsPaidGBP %}
		{% set summaryDividendsPaidEUR=summaryDividendsPaidEUR+totalDividendsPaidEUR %}
		{% set summaryDividendsPaidUSD=summaryDividendsPaidUSD+totalDividendsPaidUSD %}
		{% set summaryIncomeGBP=summaryIncomeGBP+totalIncomeGBP %}
		{% set summaryIncomeEUR=summaryIncomeEUR+totalIncomeEUR %}
		{% set summaryIncomeUSD=summaryIncomeUSD+totalIncomeUSD %}
		{% set summaryIncomeCurrency=summaryIncomeCurrency+totalIncomeCurrency %}
		
		{% if c.noOfDaysInvested == 0 %}
			{% set roi=((profit-divs)/buyTotal)*365/30*100 %}
			{% set summaryCurrentUnsoldValue=summaryCurrentUnsoldValue+(c.quantity1*c.lastPrice) %}
			{% set summaryUnsoldValue=summaryUnsoldValue+buyTotal %}
		{% else %}
			{% set roi=((profit-divs)/buyTotal)*365/c.noOfDaysInvested*100 %}
		{% endif %}
		<tr style="background-color: {{ cycle(['#eeeeff', '#ccccff'], c.tradeId) }}">
			<td align="left">{{ c.portfolioName }} / {{ c.clientNumber }}</td>
			<td><a href="{{ path('invest_share_prices') }}/{{ c.companyCode }}">{{ c.companyCode }}</a></td>
			<td align="left" title="{{ c.sector }}">{{ c.companyName }}</td>
			{% if c.reference1 != '' %}
			<td align="center" title="Settle Date : {{ c.settleDate1|date('d/m/Y') }}">{{ c.tradeDate1|date('d/m/Y') }}</td>
			<td><a href="{{ path('invest_share_trade', {'action': 'edittrade', 'id': c.tradeId, 'additional': c.reference1}) }}">{{ c.reference1 }}</a></td>
			<td align="right">{{ c.quantity1|number_format(0) }}</td>
			<td align="right">{{ c.unitPrice1|number_format(2) }}</td>
			<td align="right">{{ buyTotal|number_format(2) }}</td>
			<td align="right">{{ c.cost1|number_format(2) }}</td>
			{% else %}
			<td align="center">-</td>
			<td align="center">-</td>
			<td align="center">-</td>
			<td align="center">-</td>
			<td align="center">-</td>
			<td align="center">-</td>
			{% endif %}
			{% if c.reference2 != '' %}
			<td align="center" title="Settle Date : {{ c.settleDate2|date('d/m/Y') }}">{{ c.tradeDate2|date('d/m/Y') }}</td>
			<td><a href="{{ path('invest_share_trade', {'action': 'edittrade', 'id': c.tradeId, 'additional': c.reference2}) }}">{{ c.reference2 }}</a></td>
			<td align="right">{{ c.quantity2|number_format(0) }}</td>
			<td align="right">{{ c.unitPrice2|number_format(2) }}</td>
			<td align="right">{{ sellTotal|number_format(2) }}</td>
			<td align="right">{{ c.cost2|number_format(2) }}</td>
			{% else %}
			<td align="center">-</td>
			<td align="center">-</td>
			<td align="center">-</td>
			<td align="center">-</td>
			<td align="center">-</td>
			<td align="center">-</td>
			{% endif %}
			<td align="right">{% if profit != 0 %}{{ profit|number_format(2) }}{% else %}-{% endif %}</td>
			<td align="right">{% if c.noOfDaysInvested != 0 %}{{ c.noOfDaysInvested|number_format(0) }}{% else %}-{% endif %}</td>
			<td align="right">{% if roi != 0 %}{{ roi|number_format(1) }}{% else %}-{% endif %}</td>
			<td{% if c.rows>1 %} rowspan="{{ c.rows }}"{% endif %}>
				{% if dividends[c.companyId] is defined and dividends[c.companyId]|length %}
					{% set showDividend = false %}
					{% for d in dividends[c.companyId] %}
						{% if d.exDivDate|date('Y-m-d')<="now"|date('Y-m-d') and d.exDivDate|date('Y-m-d') > c.tradeDate1|date('Y-m-d') and (c.tradeDate2 == null or d.exDivDate|date('Y-m-d') < c.tradeDate2|date('Y-m-d')) %}
							{% if showDividend == false %}
								{% set showDividend = true %}
					<div class="innerType">
						<table>
							<tr>
								<th>ExDiv Date</th>
								<th>Amount (p)</th>
								<th>Payment Date</th>
							</tr>
							{% endif %}
							<tr>
								<td>{{ d.exDivDate|date("d/m/Y") }}</td>
								<td align="right">{{ currency }}{{ d.amount|number_format(2) }}</td>
								<td>{{ d.paymentDate|date("d/m/Y") }}</td>
							</tr>
						{% endif %}
					{% endfor %}
					{% if showDividend == true %}
						</table>
					</div>
					{% endif %}
				{% endif %}
			</td>
			<td align="right">
				{% if totalDividendsPaidGBP != 0 %}{{ totalDividendsPaidGBP|number_format(2) }}<br>{% endif %}
				{% if totalDividendsPaidEUR != 0 %}€&nbsp;{{ totalDividendsPaidEUR|number_format(2) }}<br>{% endif %}
				{% if totalDividendsPaidUSD != 0 %}$&nbsp;{{ totalDividendsPaidUSD|number_format(2) }}<br>{% endif %}
			</td>
			<td align="right">{% if totalDividends != 0 %}{{ (totalDividends/c.unitPrice1*100)|number_format(1) }} %{% else %}-{% endif %}</td>
			<td align="right">
				{% if totalIncomeGBP != 0 %}{{ totalIncomeGBP|number_format(2) }}<br>{% endif %}
				{% if totalIncomeEUR != 0 %}€&nbsp;{{ totalIncomeEUR|number_format(2) }}<br><i>(£&nbsp;{{ totalIncomeCurrency|number_format(2) }})</i><br>{% endif %}
				{% if totalIncomeUSD != 0 %}$&nbsp;{{ totalIncomeUSD|number_format(2) }}<br><i>(£&nbsp;{{ totalIncomeCurrency|number_format(2) }})</i><br>{% endif %}
			</td>
			<td align="right">{{ c.PeRatio }}</td>
			<td align="right">{{ c.lastPrice|number_format(2) }}</td>
			<td align="right">{% if c.lastPrice != 0 %}<span{% if c.reference2 == '' %} style="color: {% if c.lastPrice > c.unitPrice1 %}#008800{% else %}#ff0000{% endif %}{% if ((1-c.unitPrice1/c.lastPrice)|abs*100) > 5 %}; font-weight: bold{% endif %}"{% endif %}>{{ (c.lastPrice-c.unitPrice1)|number_format(2) }} p</span>{% endif %}</td>
			<td align="right">{% if c.lastPrice != 0 %}<span{% if c.reference2 == '' %} style="color: {% if c.lastPrice > c.unitPrice1 %}#008800{% else %}#ff0000{% endif %}{% if ((1-c.unitPrice1/c.lastPrice)|abs*100) > 5 %}; font-weight: bold{% endif %}"{% endif %}>{% if ((1-c.unitPrice1/c.lastPrice) > 0) %}+{% else %}-{% endif %} {{ ((1-c.unitPrice1/c.lastPrice)*100)|abs|number_format(1) }} %</span>{% endif %}</td>
			<td>
				{% if c.quantity1 > c.quantity2 %}
				<a href="{{ path('invest_share_trade', {'action': 'addsell', 'id': c.tradeId, 'additional': ''}) }}">[Sell]</a>
				|
				{% endif %}
				<a href="{{ path('invest_share_trade', {'action': 'delete', 'id': c.tradeId}) }}" title="Delete this trade" question="Would you like to delete this trade data?">[X]</a>
				| 
				<a href="{{ path('invest_share_trade', {'action': 'edit', 'id': c.tradeId}) }}" title="Edit this trade" question="Would you like to edit this trade data?">[E]</a>
			</td>
		</tr>
	{% endfor %}
		<tr class="summary">
			<td><b>Summary</b></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="right"><b>{{ summaryBuyPrice|number_format(2) }}</b></td>
			<td align="right"><b>{{ summaryBuyCost|number_format(2) }}</b></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="right"><b>{{ summarySellPrice|number_format(2) }}</b></td>
			<td align="right"><b>{{ summarySellCost|number_format(2) }}</b></td>
			<td align="right"><b>{{ summaryProfit|number_format(2) }}</b></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="right">
				{% if summaryDividendsPaidGBP != 0 %}<b>{{ summaryDividendsPaidGBP|number_format(2) }}</b><br>{% endif %}
				{% if summaryDividendsPaidEUR != 0 %}<span title="Rate : {{ currencyRates.EUR }}, value : {{ (summaryDividendsPaidEUR/currencyRates.EUR)|number_format(2) }}"><b>€&nbsp;{{ summaryDividendsPaidEUR|number_format(2) }}</b></span><br>{% endif %}
				{% if summaryDividendsPaidUSD != 0 %}<span title="Rate : {{ currencyRates.USD }}, value : {{ (summaryDividendsPaidUSD/currencyRates.USD)|number_format(2) }}"><b>$&nbsp;{{ summaryDividendsPaidUSD|number_format(2) }}</b></span><br>{% endif %}
				{% if summaryDividendsPaidEUR != 0 or summaryDividendsPaidUSD != 0%}
				<hr>
				<b>£&nbsp;{{ (summaryDividendsPaidGBP+summaryDividendsPaidEUR/currencyRates.EUR+summaryDividendsPaidUSD/currencyRates.USD)|number_format(2) }}
				{% endif %}
			</td>
			<td></td>
			<td align="right">
				{% if summaryIncomeGBP != 0 %}<b>£ {{ summaryIncomeGBP|number_format(2) }}</b><br>{% endif %}
				{% if summaryIncomeEUR != 0 %}<span title="Rate : {{ currencyRates.EUR }}, value : {{ (summaryIncomeEUR/currencyRates.EUR)|number_format(2) }}"><b>€&nbsp;{{ summaryIncomeEUR|number_format(2) }}</b></span><br>{% endif %}
				{% if summaryIncomeUSD != 0 %}<span title="Rate : {{ currencyRates.USD }}, value : {{ (summaryIncomeUSD/currencyRates.USD)|number_format(2) }}"><b>$&nbsp;{{ summaryIncomeUSD|number_format(2) }}</b></span><br>{% endif %}
				{% if summaryIncomeEUR != 0 or summaryIncomeUSD != 0%}
				<hr>
				<b>£&nbsp;{{ (summaryIncomeGBP+summaryIncomeCurrency)|number_format(2) }}
				{% endif %}
			</td>
			<td></td>
			<td align="right"><b>{{ (summaryCurrentUnsoldValue/100)|number_format(2) }}</b></td>
			<td align="right"><b>{% if (summaryCurrentUnsoldValue/100-summaryUnsoldValue)>0 %}+{% else %}-{% endif %} {{ (summaryCurrentUnsoldValue/100-summaryUnsoldValue)|abs|number_format(2) }}</b></td>
			<td align="right"><b>{% if summaryUnsoldValue != 0 %}{{ (summaryCurrentUnsoldValue/summaryUnsoldValue)|number_format(1) }} %{% endif %}</b></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
<br><a target="_blank" href="{{ path('invest_share_trade', {_format: 'csv'}) }}">Export to CSV</a> | <a target="_blank" href="{{ path('invest_share_trade', {_format: 'pdf'}) }}">Export to PDF</a>
{% else %}
No result...
{% endif %}
{% endif %}
{% if notes is defined and notes|length %}
<hr>
<div class="notes">{{ notes|nl2br }}<div>
{% endif %}
{% endblock %}
