{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br>
{% if message is defined and message|length %}
<p>{{ message|raw }}</p>
{% endif %}
{% if data is defined and data|length %}
<div class="listType">
<table>
	<tr>
		<th>Code</th>
		<th>Company</th>
		<th>Price</th>
		<th>Change</th>
		<th>Updated</th>
	</tr>
	{% for d in data %}
	<tr>
		<td>{{ d.title }}</td>
		<td>{{ d.name }}</td>
		<td align="right">{{ d.price|number_format(2) }}</td>
		<td align="right">{{ d.change|number_format(2) }}</td>
		<td>{{ d.updated|format('Y-m-d H:i') }}</td>
	</tr>
	{% endfor %}
</table>
</div>
{% else %}
No update data...
{% endif %}
{% endblock %}