{% extends 'TimesheetHrBundle:Default:base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% if message is defined and message|length %}
<div class="loginMessage">{{ message }}</div>
{% endif %}
{% if form is defined and form|length %}
<div class="loginDiv">
<p>In order to reset your password please enter the following details<br>then we'll send you an email with the password reset link.</p>
{{ form_start(form) }}
{{ form_errors(form) }}
<table>
	<tr>
		<td>{{ form_label(form.username) }}{{ form_errors(form.username) }}</td>
		<td>{{ form_widget(form.username) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.email) }}{{ form_errors(form.email) }}</td>
		<td>{{ form_widget(form.email) }}</td>
	</tr>
	<tr>
		<td>{{ form_widget(form.cancel) }}</td>
		<td>{{ form_widget(form.submit) }}</td>
	</tr>
</table>
{{ form_widget(form._token) }}
{{ form_end(form) }}
</div>
{% endif %}
{% endblock %}