<h2>Status</h2>
<a href="{{ path(base, {'action': 'editstatus', 'param1': '0' }) }}">New status</a>
{% if statuses is defined and statuses|length %}
<table>
	<tr>
		<th>Start</th>
		<th>Finish</th>
		<th>Level</th>
		<th>Multi</th>
		<th>Color</th>
		<th>Active</th>
		{% if domainId is defined and domainId > 0 %}{% else %}<th>Company</th>{% endif %}
	</tr>
	{% for s in statuses %}
	<tr>
		<td><a href="{{ path(base, {'action': 'editstatus', 'param1': s.id }) }}" title="Click here to edit">{{ s.nameStart }}</a></td>
		<td>{{ s.nameFinish }}</td>
		<td>{{ s.levelName }}</td>
		<td>{% if s.multi %}Multi{% else %}Single{% endif %}</td>
		<td style="color: #{{ s.color }}">{{ s.colorName }}</td>
		<td>{{ s.activeName }}</td>
		{% if domainId is defined and domainId > 0 %}
		{% else %}
			<td>
				{% if s.domains is defined and s.domains|length %}
					{% for d in s.domains %}
						{% if companies[d] is defined and companies[d]|length %}
							{{ companies[d] }}<br>
						{% else %}
							[{{ d }}]
						{% endif %}
					{% endfor %}
				{% else %}
				-
				{% endif %}
			</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
<hr>
{% endif %}