<h2>Users</h2>
<div class="searchBox">
<table>
	<tr>
		<td>User Search : <input type="text" name="userSearch" data-url="{{ path('timesheet_ajax_userlist') }}" base-url="{{ base }}" data-type="1" value="{{ userSearch }}"><input type="hidden" id="lastSearch" value=""><input type="hidden" id="lastDomain" value=""></td>
		<td><a href="{{ path(base, {'action': 'edituser', 'param1': '0' }) }}">New user</a></td>
		<td>{% if domainSearch is defined and domainSearch|length %}Company:<select name="domainSearch" data-url="{{ path('timesheet_ajax_userlist') }}" base-url="{{ base }}" data-type="1"><option value="0"> - All - </option>{% for k,ds in domainSearch %}<option value="{{ k }}">{{ ds }}</option>{% endfor %}</select>{% endif %}
			{% if isAdmin is defined and isAdmin==true %}<img src="{{ asset('/bundles/timesheethr/') }}/images/sage.jpg" alt="SAGE" width="40" height="40">  <a href="{{ path('timesheet_hr_sageimport') }}" class="tssUpload" title="Click here to import data from Sage"> </a>
			<a href="{{ path('timesheet_hr_sageexport', { 'filetype': 'csv' }) }}" class="tssDownload" title="Click here to export data to Sage"> </a>{% endif %}</td>
	</tr>
</table>
</div>
<div id="usersList">
{% include 'TimesheetHrBundle:Internal:usersList.html.twig' with {'users': users, 'base': base, 'AHE': AHE, 'hct': hct, 'holidaycalculations': holidaycalculations, 'lunchtime': lunchtime, 'lunchtimeUnpaid': lunchtimeUnpaid, 'jobtitles': jobtitles, 'domainId': domainId} %}
</div>