<h3>Hello {{ name }}</h3>
<p>{{ sender }} sent you a message:</p>
<p><hr>{{ content|raw }}<hr></p>
<br>
<p>If you wish to reply, please <a href="{{ url('timesheet_hr_login') }}">login</a> to your account and open this message in your "Messages" page.
<br>
<br>
<i>{{ companyname }}</i>
</p>